PG_PASS=XQar0pWqXEHBNURi03HcAX31kfVu4t9s4Zc5akcN47Vzb/3+
AUTHENTIK_SECRET_KEY=hQguKbkmK2R/sSv4Uw1/sLsnnU2vNltsnB9y4hpMVP70qAMYJ95siI+5hwuTYWlHD5skjZRNivuTJlTV
AUTHENTIK_ERROR_REPORTING__ENABLED=false
COMPOSE_PORT_HTTP=8080
COMPOSE_PORT_HTTPS=8443
AUTHENTIK_BOOTSTRAP_PASSWORD=8u4ITtARSG4vlU2t
